#background {
  position: absolute;
  background-color: #10131c;
  width: 100%;
  z-index: -2;
  min-height: 100vh;
  overflow: hidden;
}
#circle {
  z-index: -2;
  position: absolute;
  top: -100px;
  left: -50px;
  background-color: #10131c;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 3px solid #f9cf13;
}
/*Header*/
#header-item {
  z-index: 2;
  margin-top: 10px;
}
/*Main*/
#main-item {
  z-index: 2;
  margin-top: 150px;
}
/*Footer*/
#footer-item {
  margin-top: 100px;
}
@media (max-width: 768px) {
  #main-item {
    margin-top: 80px;
  }
}
/*Email*/
#email-item {
  margin-top: 100px;
}
/* Estrelas */
.star {
  position: absolute;
  top: 180px;
  left: 200px;
  width: 20px;
  height: 20px;
  z-index: -2;
}
.vertical-line {
  position: absolute;
  top: -50%;
  height: 20px;
  border-right: 2px solid #f9cf13;
}
.horizontal-line {
  position: absolute;
  left: -50%;
  width: 20px;
  border: 1px solid #f9cf13;
}
.star0 {
  top: 600px;
  left: 300px;
}
.star1 {
  top: 400px;
  left: 650px;
}
.star2 {
  position: absolute;
  top: 800px;
  left: 1300px;
}
.star3 {
  position: absolute;
  top: 120px;
  left: 1100px;
}
.star4 {
  position: absolute;
  top: 750px;
  left: 800px;
}
.star5 {
  position: absolute;
  top: 1300px;
  left: 850px;
}
.star6 {
  position: absolute;
  top: 1400px;
  left: 100px;
}
.star7 {
  position: absolute;
  top: 1800px;
  left: 800px;
}
.star8 {
  position: absolute;
  top: 1700px;
  left: 50px;
}
@media (max-width: 700px) {
  .card-item {
    margin-top: 10px;
  }
  .star2 {
    position: absolute;
    top: 800px;
    left: 100px;
  }
}
